@charset 'utf-8';

/*~~~~~~~~~~公共类~~~~~~~~~~*/

.clearfloat {
	clear: both;
}
.main_container {
	width: 100%;
}
.color_389348 {
	color: #389348;
}
.color_d14035 {
	color: #d14035;
}
.bg_f0eff3 {
	background-color: #f0eff3;
}
.disabled{
	color: #aaa;
}
.halfwidth {
	width: 50%;
}
.btn_halfwidth {
	width: 45%;
}
.btn_fullwidth {
	width: 100%;
}
.popupbtn_halfwidth {
	width: 42%;
}
.popupbtn_fullwidth {
	width: 80%;
}

/*~~~~~~~~~~common head~~~~~~~~~~*/

.common_header_wrapper {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 2.5rem;
	background: #4371bb;
}
.common_header_wrapper label {
	display: inline-block;
	font-size: 1rem;
	color: #fff;
	vertical-align: middle;
}
.common_header_wrapper label span{
	display: inline-block;
	font-size: 0.9rem;
	color: #fff;
}
.common_header_wrapper .right_btn, .common_header_wrapper .left_btn {
	display: inline-block;
	padding: 0 0.2rem;
	font-size: 1.75rem;
	line-height: 2rem;
	z-index: 1;
	height: 100%;
	vertical-align: middle;
	font-size: 0;
}
.common_header_wrapper .title {
	font-size: 14px;
	line-height: 48px;
	text-align: center;
	color: #fff;
}
.common_header_wrapper .right_btn {
	right: 0;
}
.common_header_wrapper .right_btn:hover, .common_header_wrapper .right_btn:focus {
	color: #fff;
}
.common_header_wrapper .left_btn {
	left: 0;
}
.common_header_wrapper .add_btn span {
	font-size: 29px;
	line-height: 42px;
	color: #fff;
}
.common_header_wrapper .add_btn .ybicon-plus {
	font-size: 26px;
	font-weight: bold;
}
.common_header_wrapper .add_btn .ybicon-ok {
	font-size: 26px;
}
.common_header_wrapper .back_btn span {
	display: inline-block;
	height: 100%;
	line-height: 2.5rem;
	font-size: 1.2rem;
	color: #fff;
	vertical-align: middle;
}
.common_header_wrapper .action_btn {
	line-height: 24px;
	height: 24px;
	margin: 8px;
	padding: 0 12px;
	border: 1px solid #fff;
	border-radius: 13px;
}
.common_header_wrapper .share_btn span {
	font-size: 26px;
	line-height: 40px;
	color: #fff;
}
.common_header_wrapper .list_btn span {
	font-size: 30px;
	line-height: 40px;
	color: #fff;
}
.common_header_wrapper .back_btn .ybicon-backward3 {
	font-size: 26px;
	line-height: 40px;
	color: #fff;
}
.common_header_wrapper .upload_btn span {
	font-size: 24px;
	line-height: 40px;
	color: #fff;
}
.common_header_wrapper a:hover, .common_header_wrapper a:active {
	color: #fff;
}
.common_header_wrapper li:first-child, .common_header_wrapper a {
	color: #fff;
}
.common_header_wrapper li:before {
	padding: 0 0 0 5px;
	content: ' / ';
}
.common_header_wrapper li:after {
	content: ' ';
}
.common_header_wrapper li:first-child:before {
	content: ' ';
}
.common_header_wrapper p {
	font-size: 18px;
	line-height: 40px;
	position: relative;
	top: 0;
	overflow: hidden;
	width: 100%;
	max-width: 240px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #fff;
}
.common_header_wrapper h5 {
	line-height: 2.5em;
	float: left;
	height: 2.5em;
	padding: 0 0 0 1em;
}
.common_header_wrapper .ok_item {
	line-height: 1.5em;
	float: right;
	width: 2.5em;
	height: 1.5em;
	margin: 0 .5em;
	padding: 0 5px;
	text-align: center;
	color: #000;
	border-radius: 3px;
	background: #eee;
}
.common_header_wrapper ul {
	position: absolute;
	z-index: 1;
	margin: 0 0 0 .5em;
}
.common_header_wrapper li {
	font-size: 1em;
	line-height: 3.5em;
	position: absolute;
	left: 0;
	height: 100%;
	color: #000;
}
.add_btn, .accept_button {
	line-height: 1em;
	float: right;
	padding: 5px;
}

/*~~~~~~~~~~common_btn~~~~~~~~~~*/

.common_btn_wrapper {
	padding: 0.5rem 0;
	width: 100%;
	text-align: center;
}
.common_btn_item.active {
	background-color: #0077ee;
	color: #fff;
}
.common_btn_item {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.8rem;
	text-align: center;
	color: #666;
	background-color: #fff;
}
.common_btn {
	display: block;
	text-align: center;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	color: #fff;
}

/*~~~~~~~~~~common_block_wrapper~~~~~~~~~~*/

.common_block_wrapper {
	padding: 0.5rem;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	font-size: 0;
}

/*~~~~~~~~~~common_title_item~~~~~~~~~~*/

.common_title_item {
	width: 100%;
	height: 3em;
}
.title_wrapper {
	position: fixed;
	z-index: 1;
}
.common_title_item span {
	float: left;
	width: 20px;
	height: 3em;
	margin: 0 0 0 10px;
	background-image: url(../img/m/sprite/titleicon_sprite_img_00000.png);
	background-position-y: -3px;
	background-size: 1400%;
}
.common_title_item label, .common_title_item i {
	font-weight: normal;
	line-height: 3em;
	float: left;
	margin: 0;
	color: #83a951;
}

/*~~~~~~~~~~ybcommon_counter~~~~~~~~~~*/

.common_priceindicator_item {
	display: inline-block;
	margin: 0 0.4rem 0 0;
}
.common_priceindicator_item label {
	display: inline-block;
	margin: 0 0.2rem 0 0;
	vertical-align: middle;
	font-size: 0.6rem;
	color: #a8a8a8;
}
.common_priceindicator_item span {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.6rem;
}
.common_smalltitle_item {
	font-size: 0.5rem;
	color: #aaa;
}
.common_pulldownmenu_wrapper {
	display: inline-block;
	width: 100%;
	border: 0;
	font-size: 0.7rem;
	font-family: 'microsoft yahei'
}

/*~~~~~~~~~~common_counter_item~~~~~~~~~~*/

.common_counter_item {
	display: inline-block;
}
.common_counter_item li {
	display: inline-block;
	margin: 0 0.2rem;
	width: 1.3rem;
	height: 1.3rem;
	border: 1px solid #ddd;
	text-align: center;
}
.common_counter_item li a {
	display: inline-block;
	color: #ef9f83;
	width: 100%;
	height: 100%;
}
.common_counter_item li a span, .common_counter_item li a label {
	display: block;
}
.common_counter_item li a span {
	line-height: 0.7rem;
	font-size: 0.5rem;
}
.common_counter_item li a i {
	display: block;
	line-height: 0.6rem;
	font-size: 0.5rem;
	color: #999;
	font-style: normal;
}
/*~~~~~~~~~~common_mainbtn_item~~~~~~~~~~*/
.common_mainbtn_item{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.9rem;
	color: #fff;
	background-color: #0077ee;
	text-align: center;
}